@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {

  .text-meta {
		@apply text-slate-600 dark:text-slate-600
 }

 .bg-list-item-selected {
	 @apply bg-slate-100
 }

 .bg-dark {
	 @apply dark:bg-gray-900
 }

 .bg-app {
   background: #f9f9f9 url("/background_texture.png") repeat;
 }

 .text-success {
	 @apply text-green-500
 }

 .text-failure {
	@apply text-red-500
 }

 .text-2xs { /* TODO: better name */
	 font-size: 0.70rem;
	 line-height: 0.8rem;
 }

 .text-link {
	@apply underline
 }

}